.barContainer{
    display: flex;
    justify-content: space-between;
}

.barContainer__leftSideBar{
    flex : 0.22;
}

.barContainer__middleBar{
    flex : 0.35;
}


.barContainer__rightSideBar{
    flex : 0.25;
    border: 1px solid green;
}