.navBarContainer{
    height : 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242526;
    padding : 5px;
}

.navBarContainer__leftNavBarContainer{
    flex : 0.22;
}

.navBarContainer__middleNavBarContainer{
    flex : 0.35;
}

.navBarContainer__rightNavBarContainer{
    flex : 0.25;
}